@media (min-width: 48rem) {
	#hamburger {
		display: none;
	}
	.grid-3 {
		grid-template-columns: auto auto auto;
	}
	.grid-2 {
		grid-template-columns: auto auto;
	}
	.flex-adapt {
		flex-flow: row;
	}
	.cta {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
}