@media (max-width: 48rem) {
	header > nav:not(.open) {
		display: none;
	}
	.open {
		position: fixed;
		top: 4rem;
		right: 1rem;
		background: var(--background-color);
		padding: 1rem;
		border-radius: 1rem;
		width: 10rem;
		text-align: center;
	}
	.open > a {
		border-radius: 1rem;
		transition: background 0.15s ease-in-out;
	}
	.open + #hamburger > span:first-child {
		rotate: 45deg;
		transform-origin: bottom left;
	}
	.open + #hamburger > span:not(:first-child,:last-child) {
		opacity: 0;
	}
	.open + #hamburger > span:last-child {
		transform-origin: top left;
		rotate: -45deg;
	}
	#hamburger {
		display: flex;
		width: 2rem;
		height: 2rem;
		flex-flow: column;
		justify-content: space-between;
		gap: 0.3rem;
		padding: 0.5rem;
		border: 0;
		background: none;
		align-self: center;
		transition: gap 300ms, padding 300ms;
		cursor: pointer;
	}
	#hamburger:hover {
		gap: 0.2rem;
		padding: 0.4rem;
	}
	#hamburger > span {
		transition: opacity 150ms, rotate 300ms;
		background: black;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
	}
	.grid {
		grid-template-columns: auto;
	}
	.flex-adapt {
		flex-flow: column;
	}
}